# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bytecode
**/*.class

run.bat

.vscode

# Ignore mp3, wav, pdf, txt, jpg
**/*.mp3
**/*.wav
**/*.pdf
**/*.txt
**/*.jpg
